.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #292929, #000000); /* Dark Gray to Black */
}

.home-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(to bottom, #292929, #000000); /* Dark Gray to Black */
}

body {
  margin: 0; /* Reset default body margin */
  font-family: Arial, Helvetica, sans-serif; /* Default font family */
}

.welcome-title {
  font-size: 7vw;
  font-weight: bold;
  text-decoration: underline;
  color: #141414;
  text-shadow: 
    -3px -3px 0 #000,  
     3px -3px 0 #000,
    -3px 3px 0 #000,  
     3px 3px 0 #000,
    -4px 0 0 #000,
     4px 0 0 #000,
     0 -4px 0 #000,
     0 4px 0 #000; /* Broader outlining effect */
}



.welcome-subtitle {
  margin-top: 0.5rem;
  font-size: 4vw; /* Responsive font size */
  font-weight: bold;
  text-decoration: underline;
  color: #ffffff;
}

.welcome-description {
  margin-top: 1rem;
  font-size: 2vw; /* Responsive font size */
  color: #303030;
}

.welcome-button {
  margin-top: 2rem;
  font-size: 2vw; /* text size of the press start button */
  padding: 1.5vw 3vw; /* padding between the border and text in the press start button */
  background: linear-gradient(to top, #292929, #000000);
  border: 0.4vw solid #170c31; /* purple border around the press start button */
  border-radius: 10vw; /* Responsive border radius */
  outline: none;
}

.welcome-button:hover {
  background-color: #0c0a0a;
}

.welcome-link {
  text-decoration: none;
  color: #ffffff;
}

.welcome-logo {
  width: 60%; /* Responsive width */
  max-width: 300px; 
  margin-top: 3vw; /* Responsive margin */
  margin-bottom: 3vw; /* Added margin for centering */ 
  margin-left: 5vw;
  margin-right: 2vw;
  animation: hover 2s ease-in-out infinite;
}

.raven-logo {
  width: 65px; /* edit circumference of raven logo on home page */
  animation: hover 2s ease-in-out infinite;
}

.directory-button{
  margin-top: 0.5em;
  font-size: 0.7; /* text size of the directory button */
  padding: 0.5vw 1vw; /* padding between the border and text in the directory button */
  background: linear-gradient(to top, #292929, #000000);
  border: 0.2vw solid #170c31; /* purple border around the directory button */
  border-radius: auto; /* Responsive border radius */
  max-height: 50px;
  max-width: 275px;
}

.directory-button:hover {
  background-color: #0c0a0a;
}


@keyframes hover {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-1vw) rotate(5deg); /* Responsive translateY */
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
